@import '/src/styles/mixins';

.dropdown {
    position: relative;
    z-index: 0; //chung lớp với UI chính để nhận đc hover
    display: inline-block;
    &__content {
        display: block;
        position: absolute;
        right: 30px;
        top: 15px;

        //ko trong main
        background-color: var(--bg-primary-clr);
        color: var(--text-primary-clr);
        //overflow-x: scroll;
        min-width: 160px;
        @include card;
        @include py-2;
        @include px-3;
    }
}