<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [mode]="'push'">
        <esa-order-sidenav-links></esa-order-sidenav-links>
        <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>                  
    </mat-sidenav>
  
    <mat-sidenav-content>
        <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>     
        <router-outlet></router-outlet>
        <!-- primary router outlet should never have a name -->
    </mat-sidenav-content>
</mat-sidenav-container>