<ng-container *ngIf="(this.cartItemCount$ | async) as count; else addToCartMessage">
        <h1>Shopping Cart</h1>

        <div class="shopping-cart">
            <div class="column-labels">
                <label class="product-image">Image</label>
                <label class="product-details">Product</label>
                <label class="product-price">Price</label>
                <label class="product-quantity">Quantity</label>
                <label class="product-removal">Remove</label>
                <label class="product-line-price">Total</label>
            </div>

            <ng-container>
                <div class="product" *ngFor="let cartItem of (this.cartItems$ | async); let i = index">
                    <div class="product-image">
                    <img src="https://s.cdpn.io/3/dingo-dog-bones.jpg">
                    <!-- change to cartItem image which require info from product service so it get really complicated right here -->
                    </div>
                    <div class="product-details">
                    <div class="product-title">{{cartItem.productModelId}}</div>
                    <p class="product-description">The best dog bones of all time. Holy crap. Your dog will be begging for these things! I got curious once and ate one myself. I'm a fan.</p>
                    </div>
                    <div class="product-price" *ngIf="this.cartItem.isOnSale !== true; else unitPriceOnSale">{{cartItem.unitPrice}}</div>
                    <ng-template #unitPriceOnSale>
                        <div class="product-price-sale">
                            <span style="text-decoration:line-through;
                                        color: black;
                                        margin-right: 5px;">{{cartItem.unitPrice}}</span>
                            {{cartItem.unitAfterSalePrice}}
                        </div>
                    </ng-template>
                    <div class="product-quantity">
                    <input type="number" 
                            value="{{cartItem.quantity}}" 
                            min="1" 
                            (change)="changeCartItemQuantity(i, $event)"
                    >
                    </div>
                    <div class="product-removal">
                    <input type="button" 
                            value="Remove"
                            class="remove-product" 
                            (click)="removeCartItemFromCart(i)"
                    >
                    </div>
                    <div class="product-line-price" *ngIf="this.cartItem.isOnSale !== true; else linePriceOnSale">{{cartItem.finalPrice}}</div>
                    <ng-template #linePriceOnSale>
                        <div class="product-line-price-sale">
                            <span style="text-decoration:line-through;
                                        color: black;
                                        margin-right: 5px;">{{cartItem.finalPrice}}</span>
                            {{cartItem.finalAfterSalePrice}}
                        </div>
                    </ng-template>
                </div>

            </ng-container>

            <div class="totals">
                <div class="totals-item">
                <label>Subtotal</label>
                <div class="totals-value" id="cart-subtotal">{{this.subItemsPrice$ | async}}</div>
                </div>
                <div class="totals-item">
                <label>Discount amount</label>
                <div class="totals-value" id="cart-tax">{{this.discountAmount$ | async}}</div>
                </div>
                <div class="totals-item totals-item-total">
                <label>Grand Total</label>
                <div class="totals-value" id="cart-total">{{this.subItemsAfterSalePrice$ | async}}</div>
                </div>
            </div>
            <button class="checkout" (click)="confirmCart()">Confirm cart</button>
        </div>

</ng-container>
<ng-template #addToCartMessage>
    <h2>Please add product to cart to buy</h2>
    <a [routerLink]="'/shopping/product-list'">Let' s go</a>
</ng-template>
