<a>
    <i class="fa-solid fa-bell"></i>
    <span>99+</span>
</a>
<a [routerLink]="'/shopping/cart-list'">
    <i class="fa-solid fa-cart-shopping"></i>
    <span>{{this.cartItemsCount$ | async}}</span>
</a>
<a class="hnavbar-account" type="button" (mouseenter)="toggleDropDown()">
    <div>
        <i class="fa-solid fa-user-tie"></i>
        <p *ngIf="(this.authStatus$| async) === AuthStatus.Authenticated 
            ;else Anonymous">
            Welcome {{this.userRole$ | async}} {{this.userName$ | async}}
        </p>

        <ng-template #Anonymous>
            <p>User</p>
        </ng-template>
    </div>
    <i class="fa-solid fa-caret-down" style="padding:0 0 13px 4px;"></i>
</a>
<ng-template [ngIf]="(this.showDropDown$ | async)">
    <esa-dropdown-menu>
        <p style="display: flex; justify-content: space-between;">
            <ng-container>
                <i class="fa-solid fa-sun" *ngIf="(this.isDarkTheme$ | async) === false" style="font-size: 2rem;"></i>
                <i class="fa-solid fa-moon" *ngIf="(this.isDarkTheme$ | async) === true" style="font-size: 2rem;"></i>
            </ng-container>
            <esa-toggle-switch (toggle)="toggleTheme()"></esa-toggle-switch>
        </p>
        <p *ngIf="(this.authStatus$| async) === AuthStatus.Anonymouse" (click)="login()"><a>Login</a></p>
        <p *ngIf="(this.authStatus$| async) === AuthStatus.Authenticated" (click)="logout()"><a>Logout</a></p>
        <p><a href="">Hello</a></p>
    </esa-dropdown-menu>
</ng-template>