pandas
python-dotenv
pymongo
pyodbc
ipykernel
spacy
nltk
pyspark
findspark
gensim
matplotlib
seaborn
pyLDAvis
scipy==1.12
redis # python redis client


py4j==0.10.9.7
pyspark==3.5.0
findspark==2.0.1
hdfs