<form [formGroup]="newProductFrmGrp" (ngSubmit)="addProduct()" class="container">
    <div class="form-header">
        <a [routerLink]="['/management', {outlets: { primary: null } }]" class="form-close-btn"><span>&times;</span></a>
    </div>
    <div class="form-body">
        <div class="form-group">
            <div>
                <label for="productName">Product Name: </label>
                <input formControlName="productName" 
                       id="productName"
                       required 
                >
            </div>
        </div>
        <br>
        <div>
            <label for="subCatalogName">SubCatalog Name: </label>
            <input type="text" 
                   formControlName="subCatalogName" 
                   id="subCatalogName"
                   required 
                   max="50" min="20"
            >
        </div>
        <br>

        <div>
            <label for="productCoverImage">Product Cover image url: </label>
            <input formControlName="productCoverImage" 
                       id="productCoverImage"
                       required 
            >
        </div>
        <br>        
    </div>
    <div class="form-footer">
        <button type="submit">Add</button>
        
    </div>
</form>
