<div class="product-card spacing">
    <div class="badge">New Product</div>
    <div class="product-thumb">
        <img src="{{product.productCoverImage}}">
    </div>
    <div class="product-details">
        <span class="product-category">{{product.subCatalogName}}</span>
        <h4><a>{{product.productName}}</a></h4>
        <p>New Import T-Shirt For Man Very Rare Collection, If You Want Order Right Now</p>
        <div class="product-bottom-details">
            <ng-container *ngIf="this.product.isOnSale === true">
                <div class="product-price">
                    <small>{{product.productModels[0].price}}đ</small>
                    {{product.productDisplayPriceOnSale}}
                </div>
            </ng-container>
            <ng-container *ngIf="this.product.isOnSale === false">
                <div class="product-price">{{product.productModels[0].price}}đ</div>
            </ng-container>
            <div class="product-links">
                <ng-container *ngIf="
                    (this.authStatus$ | async) === this.AuthStatus.Authenticated && 
                    (this.isProductBookmarked$ | async) !== undefined && 
                    (this.isProductBookmarked$ | async) === true; 
                    then bookmarkedTemplate
                    else unBookmarkedTemplate
                    "
                >
                </ng-container>
                <ng-template #bookmarkedTemplate>
                    <a><i class="fas fa-heart"></i></a>
                </ng-template>
                <ng-template #unBookmarkedTemplate>
                    <a><i class="far fa-heart"></i></a>
                </ng-template>
                <!-- This is quick ordering -->
                <a href="#"><i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</div>