<form [formGroup]="newCatalogFrmGrp" 
      (ngSubmit)="addCatalog()" 
      class="container">
    <div class="form-header">
        <a [routerLink]="['/management', {outlets: { primary: null } }]" 
           class="form-close-btn">
           <span>&times;</span>
        </a>
    </div>
    <div class="form-body">
        <div class="form-group">
            <div>
                <label for="catalogName">catalogName: </label>
                <input formControlName="catalogName" 
                       id="catalogName"
                       required
                >
            </div>
        </div>
        <br>
        <div>
            <label for="catalogDescription">catalogDescription: </label>
            <input type="text" 
                   formControlName="catalogDescription" 
                   id="catalogDescription"
                   required 
                   max="50" min="20"
            >
        </div>
        <br>

        <div>
            <label for="catalogImage">catalogImage: </label>
            <input formControlName="catalogImage" 
                   id="catalogImage"
            >
        </div>
        <br>        
    </div>
    <div class="form-footer">
        <button type="submit">Add Catalog</button>
    </div>
</form>
