.coupon {
    position: relative;
    width: 400px;
    height: 160px;
    margin: 20px auto;
    background-image: 
        radial-gradient(circle at 1px 8px, transparent 6px, #f49714 6px, #f49714 0px),
        radial-gradient(circle at 199px 8px, transparent 6px, #f49714 6px, #f49714 0px);
    background-size: 200px 18px;
    background-position: 0 0, 200px 0;
    background-repeat-x: no-repeat;
    
    
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    line-height: 16px;
    padding-left: 60px;
    box-sizing: border-box;
    cursor: pointer;
    
    &::before {
        position: absolute;
        content: "";
        left: 240px;
        top: 0;
        bottom : 0;
        width: 0;
        border-left: 1px dashed #fff;
    }
    
    &::after {
        position: absolute;
        font-size: 30px;
        width: 70px;
        top: 50%;
        right: 2%;
        transform: translate(-50%, -50%);
        line-height: 40px;
        letter-spacing: 5px;
    }

    p {
        color: #ddd;
    }
}
