<div class="container">
    <div class="icon-sidenav">
        <a [routerLink]="['/management',{outlets: {primary: 'product-catalog'}}]">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
        <a [routerLink]="['/management',{outlets: {primary: 'product-catalog'}}]"><i class="fa-solid fa-cubes-stacked"></i></a>
        <a [routerLink]="['/management',{outlets: {primary: 'sale-coupon'}}]"><i class="fa-solid fa-percent"></i></a>
    </div>
    <router-outlet></router-outlet>
</div>