<div class="product-detail-container">
    <div class="product-detail-image-container">
        <img [src]="product?.productCoverImage" alt="product image">
    </div>
    <div class="product-detail-info-container">
        <div class="product-detail-info">
            <div class="product-detail-info-title">
                <h2>{{product?.productName}}</h2>
                <span>{{product?.subCatalogName}}</span>
                <div class="product-interaction" *ngIf="(this.authStatus$ | async) === AuthStatus.Authenticated">
                    <ng-container 
                        *ngIf="
                            (this.isProductLiked$ | async) !== undefined &&
                            (this.isProductLiked$ | async) === true; 
                            then likedTemplated 
                            else unlikedTemplate
                        "
                    >
                    </ng-container>
                    <ng-template #likedTemplated>
                        <button (click)="likeProduct()">
                            <i class="fas fa-thumbs-up"></i>
                        </button>
                    </ng-template>
                    <ng-template #unlikedTemplate>
                        <button (click)="likeProduct()">
                            <i class="far fa-thumbs-up"></i>
                        </button>
                    </ng-template>

                    <ng-container 
                        *ngIf="
                            (this.isProductDisliked$ | async) !== undefined &&
                            (this.isProductDisliked$ | async) === true; 
                            then dislikedTemplated 
                            else unDislikedTemplate
                        "
                    >
                    </ng-container>
                    <ng-template #dislikedTemplated>
                        <button (click)="dislikeProduct()">
                            <i class="fas fa-thumbs-down"></i>
                        </button>
                    </ng-template>
                    <ng-template #unDislikedTemplate>
                        <button (click)="dislikeProduct()">
                            <i class="far fa-thumbs-down"></i>
                        </button>
                    </ng-template>

                    <ng-container 
                        *ngIf="
                            (this.isProductBookmarked$ | async) !== undefined &&
                            (this.isProductBookmarked$ | async) === true; 
                            then bookmarkedTemplated 
                            else unBookmarkedTemplate
                        "
                    >
                    </ng-container>
                    <ng-template #bookmarkedTemplated>
                        <button (click)="bookmarkProduct()">
                            <i class="fas fa-heart"></i>
                        </button>
                    </ng-template>
                    <ng-template #unBookmarkedTemplate>
                        <button (click)="bookmarkProduct()">
                            <i class="far fa-heart"></i>
                        </button>
                    </ng-template>                    
                </div>

                <!-- thanks to: https://codepen.io/andreacrawford/pen/NvqJXW -->
                <div id="half-stars-example" *ngIf="(this.authStatus$ | async) === AuthStatus.Authenticated">
                    <div class="rating-group">
                        <input class="rating__input rating__input--none" 
                                [checked]="(isProductRated$ | async) === false"
                                name="rating2" 
                                id="rating2-0" 
                                value="0" 
                                type="radio"
                                (change)="rateProduct()"
                                >
                        <label aria-label="0 stars" 
                                class="rating__label" 
                                for="rating2-0">
                            &nbsp;                                   
                        </label>
                        <ng-container *ngFor="let rating of this.allRatings">
                            <ng-container *ngIf="rating % 1 === 0 then ratingIsInt else ratingIsFloat"></ng-container>
                            <ng-template #ratingIsInt>
                                <label class="rating__label" 
                                        for="rating2-{{rating}}">
                                    <i class="rating__icon rating__icon--star fa fa-star"></i>
                                </label>
                            </ng-template>
                            <ng-template #ratingIsFloat>
                                <label class="rating__label rating__label--half" 
                                    for="rating2-{{rating}}">
                                    <i class="rating__icon rating__icon--star fa fa-star-half"></i>
                                </label>
                            </ng-template>  
                            <ng-container *ngIf="rating === (productRating$ | async) then checkedInput else uncheckedInput"></ng-container>
                            <ng-template #checkedInput>
                                <input class="rating__input" 
                                        checked 
                                        name="rating2" 
                                        id="rating2-{{rating}}" 
                                        value="{{rating}}" 
                                        type="radio"
                                        (change)="rateProduct()"
                                        >
                            </ng-template>
                            <ng-template #uncheckedInput>
                                <input class="rating__input" 
                                        name="rating2" 
                                        id="rating2-{{rating}}" 
                                        value="{{rating}}" 
                                        type="radio"
                                        (change)="rateProduct()"
                                        >
                            </ng-template>
                        </ng-container>                                                
                    </div>
                  <p class="desc" style="margin-bottom: 2rem; font-family: sans-serif; font-size:0.9rem">Half stars<br/>
                    Space on left side to select 0 stars</p>
                </div>
            </div>
            <div class="product-detail-info-price">
                Giam gia <span style="color: red;">{{product?.productDisplayPriceOnSale | currency}}</span>
            </div>
            <div class="product-detail-info-description">
                <p>{{product?.isOnSale}}</p>
            </div>
            <ng-container *ngFor="let model of this.product?.productModels; let i = index">
                <div class="product-detail-info-quantity" style="padding: 2rem; border: 1px solid dodgerblue;">
                    <h2>Model {{i}}</h2>
                    <p>Price {{model.price}} <span style="color: red;">{{model.priceOnSaleModel}}</span></p>
                    <label>Quantity</label>
                    <input type="number" name="quantity" min="1" max="5" value="1" style="border: 1px solid lightgrey;">
                    <br>
                    <button mat-raised-button color="primary" (click)="addModelToCart($event, model)">Add to Cart</button>
                </div>
            </ng-container>
        </div>
    </div>
